*{
  margin: 0;
  padding: 0;
  box-sizing:border-box ;
}

.startScreen{
  background-color: goldenrod;
  font-size: 24px;
  font-weight: 800;
  font-family: Georgia, 'Times New Roman', Times, serif;
}
.hide {
    display: none;
  }
  .car , .enemy {
    position: absolute;
    bottom: 100px;
    margin: auto;
    width: 50px;
    height: 100px;
    background-color: white;
    background-image: url(car.png);
    background-size: cover;
  }
  .gameArea {
    background-color: black;
    width: 400px;
    height: 100%;
    overflow: hidden;
    position: absolute;
    margin: auto;
    left: 37%;
  }
  .line {
    position: absolute;
    height: 100px;
    width: 10px;
    margin-left: 195px;
    background-color: white;
  }
  .score {
    background-color: black;
    height: 70px;
    text-align: center;
    color: white;
    font-size: 1.5em;
    font-family: fantasy;
  }
  .startScreen {
    /* font-size: large; */
    text-align: center;
    border: 1px solid red;
    padding: 15px;
    margin: auto;
    width: 600px;
    margin: auto 344px;
  }